@tailwind base;
@tailwind components;
@tailwind utilities;


.card{
    @apply
    flex-col md:flex-row items-center    shadow-blue-700 drop-shadow-lg flex border-4 border-sky-300 rounded-xl p-4 gap-8 bg-blue-100 text-lg;

}

 

.font-amatic{
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    
}

h2{
    @apply
    text-5xl font-bold py-10 text-center font-amatic;
}
h5{
    @apply
    font-mono text-2xl;
}
h6{
    @apply
    font-mono text-xl;
}
