@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-ziggurat-50 flex flex-col;
}
#app {
  @apply flex-grow flex-col flex;
}
main {
  @apply px-10 flex-grow;
}
footer {
}
h1 {
  @apply pb-3 text-7xl font-bold text-center font-amatic;
}

.card-container {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-10 2xl:grid-cols-3;
}

.summary-card {
  @apply flex-col lg:flex-row items-center shadow-ziggurat-700 drop-shadow-xl flex border border-ziggurat-400 rounded-xl p-8 gap-8 bg-ziggurat-200 text-lg hover:drop-shadow-2xl transition-all duration-500 hover:border-ziggurat-600;
}

.summary-card-image {
  @apply md:max-w-80 lg:max-w-40 flex-grow-0 rounded-md drop-shadow-xl shadow-ziggurat-400;
}

.summary-card-text {
  @apply flex-grow text-ziggurat-950 font-bold text-balance;
}

.letter-highlight {
  @apply text-blue-800;
}

.font-amatic {
  font-family: 'Amatic SC', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.footer-link {
  @apply text-ziggurat-500 hover:text-ziggurat-600 active:text-ziggurat-700 text-xl flex flex-row items-center gap-1 justify-start;
}

h2 {
  @apply text-5xl font-bold py-10 text-center font-amatic;
}

h5 {
  @apply font-mono text-2xl;
}

h6 {
  @apply font-mono text-xl;
}
.fas,
.fa-solid {
  @apply text-ziggurat-600 p-1 text-sm;
}
