@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import './button.css';
@import './typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen from-ziggurat-50 to-ziggurat-400 bg-gradient-to-br flex flex-col overflow-x-hidden selection:bg-ziggurat-950 selection:text-ziggurat-50;
}

* {
  @apply transition-all duration-100 delay-75
}

#app {
  @apply grow flex-col-reverse md:flex-col flex gap-4 overflow-x-hidden;
}

main {
  @apply p-4 md:p-20 flex flex-col grow relative;
}

footer {
  @apply px-4 md:px-10;
}

kbd {
  @apply text-ziggurat-900 bg-slate-200 border border-ziggurat-300 px-2 rounded-md;
}

img {
  @apply select-none;
}

.nav-link {
  @apply text-ziggurat-950 border border-ziggurat-950 px-8 py-2 rounded-full flex flex-row gap-2 items-baseline;
  @apply hover:bg-ziggurat-600 hover:border-ziggurat-600 hover:text-ziggurat-200 active:bg-ziggurat-700;
  @apply transition-all duration-500 delay-75;
  @apply hover:shadow-ziggurat-600 hover:drop-shadow-md;
}

.skill-card {
  @apply bg-ziggurat-100 border border-ziggurat-400 p-6 rounded-xl flex flex-col gap-4 drop-shadow-lg shadow-ziggurat-700 hover:drop-shadow-2xl hover:border-ziggurat-500 justify-center;
  /* Animations */
  @apply transition-all duration-500;
  @apply hover:-translate-y-1;
}

.skill-card-header {
  @apply flex flex-row gap-3 items-center;

  &>.skill-card-header-text {
    @apply text-2xl;
    font-weight: 500;
  }
}

.skill-card-header-icon {
  @apply bg-ziggurat-600 w-10 h-10 rounded-full text-ziggurat-100 flex justify-center items-center shadow-ziggurat-600 drop-shadow-xl;

  &>i {
    @apply flex p-0 m-0;
  }
}

.skill-card-body {
  @apply text-balance;
  line-height: 1.75;
}

.skill-subcard {
  @apply flex flex-col bg-ziggurat-200 rounded-lg p-2 px-4 gap-2;
  /* Shadow */
  @apply shadow-ziggurat-200 drop-shadow-md hover:drop-shadow-lg;
  @apply hover:grow;
}

.skill-subcard-header {
  @apply text-xl;
  font-weight: 400;
}

.skill-subcard-body {
  @apply font-light;
  line-height: 1.75;
}

.footer-link {
  @apply text-lg flex flex-row items-center gap-2 justify-start;
  @apply even:text-ziggurat-500 hover:text-ziggurat-600 active:text-ziggurat-700 odd:text-ziggurat-400;
}

footer>.fas,
footer>.fa-solid {
  @apply text-ziggurat-600 p-1 text-sm;
}

.mobile-clamp {
  max-width: 640px;
}

/* Projects section */

.project-card-body-content {
  @apply flex flex-col md:flex-row gap-4;
}

.project-card-body-text {
  @apply flex flex-col gap-2 justify-between;
}

.project-tags-container {
  @apply flex flex-row flex-wrap gap-2;
}

.project-tag {
  @apply bg-ziggurat-300 text-ziggurat-950 select-none px-3 py-1 rounded-full cursor-pointer font-mono text-sm font-semibold shadow-ziggurat-800 drop-shadow-md;
  @apply transition-all duration-300;

  &:hover {
    @apply bg-ziggurat-400 text-ziggurat-100;
  }

  &.active {
    @apply bg-ziggurat-400 text-ziggurat-100
  }
}

/* Tooltip */
.tooltip {
  @apply text-center p-4 rounded-xl;
  @apply transition-all duration-500;
  @apply flex-row gap-4 items-baseline;
  @apply drop-shadow-lg;
}

.tooltip.tooltip-bad {
  @apply bg-ziggurat-700 text-ziggurat-50 shadow-ziggurat-950;
}

.tooltip-icon {
  @apply bg-ziggurat-100 text-ziggurat-600 rounded-full p-1;
  @apply flex justify-center items-center;
}

.nav-buttons {
  /* Base */
  @apply flex flex-row rounded-full p-2 gap-2;
  @apply bg-ziggurat-500;
}

.nav-btn {
  /* Inheritance */
  /* @apply btn; */
  /* Base */
  @apply rounded-full py-0 px-2 md:px-6 flex justify-center items-center gap-2;
  /* Colors */
  @apply bg-transparent text-ziggurat-50 hover:bg-ziggurat-400 hover:drop-shadow-lg shadow-ziggurat-800 active:bg-ziggurat-300 active:text-ziggurat-900;
  /* Animations */
  @apply transition-all duration-100;
}

.nav-btn.selected {
  @apply cursor-default;
  /* Colors */
  @apply bg-ziggurat-200 text-ziggurat-950;
  /* hover */
  @apply active:-translate-y-1 hover:shadow-lg;
}

.nav-buttons-separator {
  @apply min-w-2;
}

.nav-icons {
  @apply flex flex-row gap-1 rounded-full p-2;
  @apply bg-ziggurat-200;
}

.nav-i {
  @apply rounded-full px-2 text-xl aspect-square flex flex-row justify-center items-center;
  @apply hover:bg-ziggurat-400 hover:text-ziggurat-50 hover:drop-shadow-lg;
  @apply transition-all duration-500;
}
